# Ignore everything
/*

# Intellij Garbage
**/out/

# Git
!/.gitattributes
!/.gitignore
!/README.md
!/LICENSE
!/HEADER
!/.github

# Gradle build files
!/build.gradle
!/settings.gradle
!/gradle.properties
!/gradle
!/gradlew
!/gradlew.bat

# Source code
!/src
!/core
!/ioimpl
!/module
!/tag-parser

# Ignore Gradle project-specific cache directory and build output directory
.gradle
build
