# Ignore everything
/*

# Git
!/.gitattributes
!/.gitignore
!/README.md
!/LICENSE
!/HEADER
!/.github

# Gradle build files
!/build.gradle
!/settings.gradle
!/gradle
!/gradlew
!/gradlew.bat

# Source code
!/src

# Tag submodule
!/tag

# Ignore Gradle project-specific cache directory and build output directory
.gradle
build
